<?xml version="1.0"?>
<config>
    <modules>
        <Mc_Debugsuccess>
            <version>0.1.0</version>
        </Mc_Debugsuccess>
    </modules>
    <global>
        <helpers>
            <debugsuccess>
                <class>Mc_Debugsuccess_Helper</class>
            </debugsuccess>
        </helpers>
    	<blocks>
            <debugsuccess>
                <class>Mc_Debugsuccess_Block</class>
            </debugsuccess>
            <checkout>
                <rewrite>
                    <onepage_success>Mc_Debugsuccess_Block_Checkout_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
    	</blocks>
        <rewrite>        
            <mc_debugsuccess_checkout_onepagecontroller>
                <from><![CDATA[#^/checkout/onepage/#]]></from>
                <to>/debugsuccess/checkout_onepage/</to>
            </mc_debugsuccess_checkout_onepagecontroller>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <debugsuccess>
            <use>standard</use>
            <args>
                <module>Mc_Debugsuccess</module>
                <frontName>debugsuccess</frontName>
            </args>
            </debugsuccess>
        </routers>
    </frontend>
</config> 